<!DOCTYPE html>
<html>
  <head>
    <title>Django Ratings</title>
  </head>
  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>

          <li><a href="{% url 'create_professor' %}">Create your professor</a></li>
          <li><a href="{% url 'professor_list'%}">Professors</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
